In [ ]:
create database test2;

use test2;

CREATE TABLE titanic (
  PassengerId INT,
  Survived TINYINT,
  Pclass INT,
  Name VARCHAR(255),
  Sex VARCHAR(10),
  Age FLOAT,
  SibSp INT,
  Parch INT,
  Ticket VARCHAR(50),
  Fare FLOAT,
  Cabin VARCHAR(50),
  Embarked VARCHAR(10)
);

LOAD DATA LOCAL INFILE 'C:/aws/titanic.csv'
INTO TABLE titanic
FIELDS TERMINATED BY ','
ENCLOSED BY '"'
LINES TERMINATED BY '\n'
IGNORE 1 LINES;
select *
from titanic;