<a href="https://colab.research.google.com/github/seirah-yang/BootCamp/blob/main/Programmers(%ED%8E%98%EC%9D%B4%EC%A7%801)_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
# 정수 제곱근 판별
def solution(n):
    for x in range(1, n+1):
        if n  == x**2:
            return (x+1)*(x+1)
        else:
            return -1

print(solution(121))
print(solution(3))

-1
-1

In [10]:
def solution(n):
    for x in range(1,n):
        if n**0.5  == x:
            return (x+1)*(x+1)
    else:
        return -1

# for x in range(1, n) 루프를 돌면서, n**0.5 == x 조건이 한 번이라도 참이면 return이 실행 → 함수 종료
# 만약 끝까지 돌았는데 if 조건을 만족하는 x가 없으면, for문이 break 없이 종료 → else 블록 실행 → -1 반환

print(solution(121))
print(solution(3))

144
-1

In [17]:
# 하샤드 수
def solution(x):
    n = 0
    for i in str(x):
        n += int(i)

    if x % n == 0:
        return True
    else:
        return False

print(solution(10))
print(solution(12))
print(solution(11))
print(solution(13))

True
True
False
False

In [42]:
# 음양 더하기
# 이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes
# 이 정수들의 부호를 차례대로 담은 불리언 배열 signs
def solution(absolutes, signs):
    ans = 0
    for i in range(len(absolutes)):
        if signs[i] is True :
            ans += absolutes[i]
        else:
            ans -= absolutes[i]
    return ans

print(solution([4,7,12], [True, False, True]))
print(solution([1,2,3], [False, False, True]))

9
0

In [46]:
# 나누어 떨어지는 숫자 배열
def solution(arr, divisor):
    ans = []
    for i in arr :
        if i % divisor == 0:
            ans += int(i)              # 리스트에 숫자를 더하는 잘못된 문법
            return sorted(ans)  # Loop 도중 중단
    else:
        return -1

print(solution([5,9,7,10], 5))
print(solution([2, 36, 1, 3], 1))
print(solution([3,2,6], 10))

TypeError: 'int' object is not iterable

In [43]:

def solution(arr, divisor):
    answer = []
    for i in arr:
        if i%divisor ==0:
            answer.append(i)
    if not answer:
        return [-1]
    return sorted(answer)

print(solution([5,9,7,10], 5))
print(solution([2, 36, 1, 3], 1))
print(solution([3,2,6], 10))

[5, 10]
[1, 2, 3, 36]
[-1]

In [50]:
# 서울에서 김서방 찾기
def solution(seoul):
    index = seoul.index("Kim")
    return f"김서방은 {index}에 있다. "

print(solution(["Jane", "Kim"]))

김서방은 1에 있다.

In [51]:
# 콜라츠 추측
def solution(num):
    count = 0
    while num != 1:
        if num % 2 == 0:  # 짝수
            num //= 2
        else:             # 홀수
            num = num * 3 + 1
        count += 1
        if count >= 500:
            return -1
    return count

print(solution(6))
print(solution(16))
print(solution(626331))

8
4
-1

In [52]:
# 핸드폰 번호 가리기
def solution(phone_number):
    return '*'*(len(phone_number)-4)+phone_number[-4:]

print(solution("01033334444"))
print(solution("027778888"))

*******4444
*****8888

In [29]:
# 가운데 글자 가져오기
def solution(s):
    l=len(s)//2
    if len(s)%2 == 0:
        return s[l-1:l+1]
    else:
        return s[l]

print(solution("abcde"))
print(solution("qwer"))

c
we